table {
    width: 100%;
  }

  .example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .demo-row-is-clicked {
    font-weight: bold;
  }