<h1>User Details</h1>

<br />

 <div>
    <h2>picture:{{this.picture}}</h2>
    <br>
    <h2>name:{{this.name}}</h2>
    <br>
    <h2>email:{{this.email}}</h2>
    <br>
    <h2>gender:{{this.gender}}</h2>
    <br>
    <h2>age:{{this.age}}</h2>
    <br>
    

</div> 
<br>
<!-- <agm-map [latitude]="lat" [longitude]="long">
    <agm-marker [latitude]="lat" [longitude]="long"> </agm-marker>
</agm-map> -->